<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NGK.DAL.Properties.Settings.NgkDbConnectionString"
            connectionString="Data Source=PETROV\SQLEXPRESS;Initial Catalog=ngkdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>