/*.stackdump
bin
obj
/CathodicProtectionSystem/*.suo
*.application
*.deploy
*.manifest
*.exe
*.msi
/CathodicProtectionSystem/CorrosionMonitoringSystem/CorrosionMonitoringSystem.csproj.user
*.pfx
*.suo
CathodicProtectionSystem/DAL/Data/ngkdb.mdf
CathodicProtectionSystem/DAL/Data/ngkdb_log.ldf
TestPlugins/Plugins/PluginA.dll
TestPlugins/Plugins/PluginB.dll
CathodicProtectionSystem/Plugins/*.*
CathodicProtectionSystem/Plugins/NgkCanPlugin.dll
CathodicProtectionSystem/DAL/*.*