<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Путь к файлу конфигурации сети, если value="" (по умолчанию), 
    то используется каталог приложения-->
    <add key="PathToNetworkConfigFile" value=""/>
    <!--Настройки COM-порта-->
    <!--Если "PortName" value="", то порт не задан, будет создат null-объект-->
    <!--Наименование COM-порта, например COM1, COM2 и т.д.-->
    <add key="PortName" value="COM1"/>
    <!--Скорость обмена данными, например 9600, 19200 и т.д из стандартного ряда скоростей COM-порта-->
    <add key="BaudRate" value="19200"/>
    <!--Использование верификации фрейма. Значение Even, Odd, None-->
    <add key="Parity" value="Even"/>
    <!--Количество бит данных символа 7 или 8-->
    <add key="DataBits" value="8"/>
    <!--Количество стоп-бит фрейма One, Two, None-->
    <add key="StopBits" value="One"/>   
  </appSettings>
  <!--
  <configuration>
    <system.windows.forms jitDebugging="true" />
  </configuration>
  -->
</configuration>