<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Разрешает работу с перемещаемым файлом конфигурации приложения-->
    <add key="EnableRemoteConfigFile" value="false"/>
    <!--Путь к перемещаемому файлу конфигурации-->
    <add key="PathToRemoteConfigFile" value=""/>
    
    <!--Разрешает видимость курсора на экране-->
    <add key="CursorEnable" value="true"/>
    <!--Видимость приложения на панели задач системы-->
    <add key="ShowInTaskbar" value="true"/>
    <!--Разрешает/запрещает окантовку формы-->
    <add key="FormBorderEnable" value="true"/>
    
    <!--Цвет строки неисправного устройства RGB:"255, 128, 0" или имя цвета: "Red"-->
    <add key="CommunicationErrorRowColor" value="Red"/>
    <add key="ConfigurationErrorRowColor" value="Orange"/>
    <add key="PreoperationalModeRowColor" value="LightGreen"/>
    <add key="OperationalModeRowColor" value="LightGray"/>
    <add key="StoppedModeRowColor" value="Yellow"/>
    
    <!--Настройки отображения столбцов для таблицы объектного словаря устройства-->
    <add key="ObjectDictionaryIndexVisible" value="true"/>
    <add key="ObjectDictionaryIndexNameVisible" value="true"/>
    <add key="ObjectDictionaryDisplayedNameVisible" value="true"/>
    <add key="ObjectDictionaryIndexValueVisible" value="true"/>
    <add key="ObjectDictionaryDataTypeVisible" value="true"/>
    <add key="ObjectDictionaryLastUpdateTimeVisible" value="true"/>
    <add key="ObjectDictionaryDescriptionVisible" value="true"/>
    <add key="ObjectDictionaryCategoryVisible" value="true"/>
    <add key="ObjectDictionaryReadOnlyVisible" value="true"/>
    <add key="ObjectDictionarySdoReadEnableVisible" value="true"/>
    <!--Адреса индексов объектного словаря, отображение которых запрещено 
    (Адреса указываются в HEX-формате через запятую: 2000, 200A, 200F и т.д )-->
    <add key="HideObjectIndexForKip9810" value=""/>
    <add key="HideObjectIndexForKip9811" value=""/>
    <!--Настройки отображения стлобцов для списка устройств системы-->
    <add key="NodeIdVisible" value="true"/>
    <add key="StatusVisible" value="true"/>
    <add key="NetworkNameVisible" value="false"/>
    <add key="LocationNameVisible" value="true"/>
    <add key="PollingIntervalVisible" value="true"/>

    <add key="NodeIdColumnWidth" value="50"/>
    <add key="StatusColumnWidth" value="50"/>
    <add key="NetworkNameColumnWidth" value="50"/>
    <add key="LocationNameColumnWidth" value="50"/>
    <add key="PollingIntervalColumnWidth" value="50"/>

    <add key="ObjectDictionaryIndexColumnWidth" value ="50"/>
    <add key="ObjectDictionaryIndexNameColumnWidth" value="50"/>
    <add key="ObjectDictionaryDisplayedNameColumnWidth" value="50"/>
    <add key="ObjectDictionaryIndexValueColumnWidth" value="50"/>
    <add key="ObjectDictionaryTypeOfValueColumnWidth" value="50"/>
    <add key="ObjectDictionaryLastUpdateTimeColumnWidth" value="50"/>
    <add key="ObjectDictionaryDescriptionColumnWidth" value="50"/>
    <add key="ObjectDictionaryCategoryColumnWidth" value="50"/>
    <add key="ObjectDictionaryReadOnlyColumnWidth" value="50"/>
    <add key="ObjectDictionarySdoReadEnableColumnWidth" value="50"/>

    <add key="PivotTableNodeIdColumnWidth" value="50"/>
    <add key="PivotTableLocationColumnWidth" value="50"/>
    <add key="PivotTablePolarisationPotential_2008ColumnWidth" value="50"/>
    <add key="PivotTableProtectionPotential_2009ColumnWidth" value="50"/>
    <add key="PivotTableProtectionCurrent_200BColumnWidth" value="50"/>
    <add key="PivotTablePolarisationCurrent_200СColumnWidth" value="50"/>
    <add key="PivotTableCorrosion_depth_200FColumnWidth" value="50"/>
    <add key="PivotTableCorrosion_speed_2010ColumnWidth" value="50"/>
    <add key="PivotTableTamper_2015ColumnWidth" value="50"/>

    <add key="PivotTableNodeIdColumnVisible" value="true"/>
    <add key="PivotTableLocationColumnVisible" value="true"/>
    <add key="PivotTablePolarisationPotential_2008ColumnVisible" value="true"/>
    <add key="PivotTableProtectionPotential_2009ColumnVisible" value="true"/>
    <add key="PivotTableProtectionCurrent_200BColumnVisible" value="true"/>
    <add key="PivotTablePolarisationCurrent_200СColumnVisible" value="true"/>
    <add key="PivotTableCorrosion_depth_200FColumnVisible" value="true"/>
    <add key="PivotTableCorrosion_speed_2010ColumnVisible" value="true"/>
    <add key="PivotTableTamper_2015ColumnVisible" value="false"/>

    <!--Настройки COM-порта для связи с верхним уровнем-->
    <!--Наименование COM-порта, например COM1, COM2 и т.д.-->
    <add key="PortName" value="COM1"/>
    <!--Скорость обмена данными, например 9600, 19200 и т.д из стандартного ряда скоростей COM-порта-->
    <add key="BaudRate" value="19200"/>
    <!--Использование верификации фрейма. Значение Even, Odd, None-->
    <add key="Parity" value="Even"/>
    <!--Количество бит данных символа 7 или 8-->
    <add key="DataBits" value="8"/>
    <!--Количество стоп-бит фрейма One, Two, None-->
    <add key="StopBits" value="One"/>
  </appSettings>
</configuration>