<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Разрешает работу с перемещаемым файлом конфигурации приложения-->
    <add key="EnableRemoteConfigFile" value="false"/>
    <!--Путь к перемещаемому файлу конфигурации-->
    <add key="PathToRemoteConfigFile" value=""/>
    
    <!--Разрешает видимость курсора на экране-->
    <add key="CursorEnable" value="false"/>
    <!--Видимость приложения на панели задач системы-->
    <add key="ShowInTaskbar" value="false"/>
    <!--Разрешает/запрещает окантовку формы-->
    <add key="FormBorderEnable" value="false"/>

    <!--Режим работы приложения-->
    <add key="IsDebug" value="false"/>

    <!--Цвет строки неисправного устройства RGB:"255, 128, 0" или имя цвета: "Red"-->
    <add key="CommunicationErrorRowColor" value="Red"/>
    <add key="ConfigurationErrorRowColor" value="Orange"/>
    <add key="PreoperationalModeRowColor" value="LightGreen"/>
    <add key="OperationalModeRowColor" value="LightGray"/>
    <add key="StoppedModeRowColor" value="Yellow"/>
    
    <!--Адреса индексов объектного словаря, отображение которых запрещено 
    (Адреса указываются в HEX-формате через запятую: 2000, 200A, 200F и т.д )-->
    <add key="HideObjectIndexForKip9810" value=""/>
    <add key="HideObjectIndexForKip9811" value=""/>

    <add key="LocationNameColumnWidth" value="350"/>
    <add key="StatusColumnWidth" value="180"/>
    <add key="NetworkNameColumnWidth" value="150"/>

    <add key="ObjectDictionaryDisplayedNameColumnWidth" value="350"/>
    <add key="ObjectDictionaryIndexValueColumnWidth" value="100"/>
    <add key="ObjectDictionaryLastUpdateTimeColumnWidth" value="170"/>

    <add key="PivotTableLocationColumnWidth" value="140"/>
    <add key="PivotTablePolarisationPotential_2008ColumnWidth" value="100"/>
    <add key="PivotTableProtectionPotential_2009ColumnWidth" value="100"/>
    <add key="PivotTableProtectionCurrent_200BColumnWidth" value="100"/>
    <add key="PivotTablePolarisationCurrent_200СColumnWidth" value="100"/>
    <add key="PivotTableCorrosion_depth_200FColumnWidth" value="100"/>
    <add key="PivotTableCorrosion_speed_2010ColumnWidth" value="100"/>

    <!--Настройки COM-порта для связи с верхним уровнем MODBUS-->
    <!--Адрес КССМУ в сети modbus-->
    <add key="ModbusAddress" value ="1"/>
    <!--Наименование COM-порта, например COM1, COM2 и т.д.-->
    <add key="PortName" value="COM4"/>
    <!--Скорость обмена данными, например 9600, 19200 и т.д из стандартного ряда скоростей COM-порта-->
    <add key="BaudRate" value="19200"/>
    <!--Использование верификации фрейма. Значение Even, Odd, None-->
    <add key="Parity" value="Even"/>
    <!--Количество бит данных символа 7 или 8-->
    <add key="DataBits" value="8"/>
    <!--Количество стоп-бит фрейма One, Two, None-->
    <add key="StopBits" value="One"/>
  </appSettings>
</configuration>