<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <!-- Путь к log директории -->
  <variable name="LogDir" value="./logs/${date:format=yyyy-MM-dd}"/>
  
  <targets>
    <!--<target name="console" xsi:type="Console" layout="${date:format=HH\:mm\:ss}|${level:uppercase=true}|${message}"/>-->
    <target name="CorrosionMonitoringSystemLogger" xsi:type="File" fileName="${LogDir}/ApplicationLog.log" layout="${longdate}|${level:uppercase=true}|${literal:text=Application}|${message}|${exception:format=tostring}"/>
    <target name="NodeGuardLogger" xsi:type="File" fileName="${LogDir}/NodeGuardLog.log" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}"/>
    <target name="BootUpLogger" xsi:type="File" fileName="${LogDir}/BootUpLog.log" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}"/>
    <target name="NmtLogger" xsi:type="File" fileName="${LogDir}/NmtLog.log" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}"/>
    <target name="SyncLogger" xsi:type="File" fileName="${LogDir}/SyncLog.log" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}"/>
    <target name="PdoTransmitLogger" xsi:type="File" fileName="${LogDir}/PdoTransmitLog.log" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}"/>
  </targets>

    <rules>
      <!--<logger name="*" minlevel="Trace" writeTo="console"/>-->
      <logger name="CorrosionMonitoringSystemLogger" minlevel="Trace" writeTo="CorrosionMonitoringSystemLogger"/>
      <logger name="NodeGuardLogger" minlevel="Trace" writeTo="NodeGuardLogger"/>
      <logger name="BootUpLogger" minlevel="Trace" writeTo="BootUpLogger"/>
      <logger name="NmtLogger" minlevel="Trace" writeTo="NmtLogger"/>
      <logger name="SyncLogger" minlevel="Trace" writeTo="SyncLogger"/>
      <logger name="PdoTransmitLogger" minlevel="Trace" writeTo="PdoTransmitLogger"/>
    </rules>
</nlog>
