<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="vcinet2"
                          publicKeyToken="1fb9dc3563e138e2"
                          culture="neutral" />
        <!-- Redirecting to version 3.4.1.3080 of the assembly. -->
        <bindingRedirect oldVersion="3.3.0.0-3.4.1.3079"
                         newVersion="3.4.1.3080"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
